header {
    height: 64px;
    line-height: 64px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: var(--black);
    z-index: 1;

    button{
    border: none;
    background: none;
    color: var(--darkgrey);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    }

    ul div{
        display: inline;
    }
    ul button{
        padding: 15px;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
    }

    i{
        font-size: 20px;
        margin-right: 20px;
    }

    ul :hover{
        color: var(--white);
    }

    div{
        display: flex;
    }
    div i{
        font-size: 25px;
        padding: 10px;
    }
    div img{
        height: 40px;
    }
    ul button i{
    font-size: 0;
    }
}

.ativo{
    color: var(--white);
}

.search i{
    font-size: 20px;
}

@media (max-width: 1000px) {
    header ul button{
        font-size: 0;
    }
    header ul button i{
        font-size: 20px;
    }
}